
#wrapper {
	float: left;
	padding-left: 85px;
	overflow: hidden;
}

#left_side {
	position: relative;
	float: left;
	width: 85px;
	right: 85px;
	margin-left: -100%;
	margin-bottom: -8000px;
	padding-bottom: 8000px;
	background-color: #628794;
}

#nav-v {
	float: left;
	margin: 3px;
}

#nav-v ul {
	list-style: none;
	padding: 0px;
}

#nav-v ul li {
	border: 3px solid #628794;
	margin: 2px;
}

#nav-v ul li a:link, #nav ul li a:visited {
	padding: 5px 5px 5px 5px;
	background-color: #628794;
	text-decoration: none;
	color: #ffffff;
}

#nav-v ul li a:hover, #nav ul li a:active {
	padding: 5px 5px 5px 5px;
	background-color: #ffffff;
	color: #628794;
}

/*
** class selectors like .activeItem have a lower priority
** compared to id selectors like #nav-v, so we need to use
** !important.
*/
.activeItem  {
	padding: 5px 5px 5px 5px !important;
	background-color: #ffffff !important;
	color: #628794 !important;
}

#nav-h {
	background-color: #628794;
	padding-top: 1px;		
	padding-bottom: 1px;	
	text-align: center;
}

#nav-h ul li {
	display: inline;
}

#nav-h ul li a:link, ul li a:visited {
	padding: 5px 5px 5px 5px;
	background-color: #628794;
	text-decoration: none;
	color: #ffffff;
}

#nav-h ul li a:hover, ul li a:active {
	text-decoration: none;
	padding: 5px 5px 5px 5px;
	background-color: #ffffff;
	color: #628794;
}

#content_area {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom:  -2000px;
	padding-bottom: 2000px;
	background-color: #ffffff;
}

footer {
	position: relative;
	float: left;
	width: 100%;
	text-align: center;
}
