
body {
	margin:	0; /* Header and footer touch top and bottom of page with no gap. */
	padding:0;
}

/*
** This centers the home page image and reduces 
** the image size such that the footer is visible.
*/
.homePageImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%
}

/*
** Photo on about page.
*/
#aboutPhoto {
	float: left;
	margin: 20px;
}
