
body {
	margin:	0; 
	padding:0;
}

/*
** This centers the home page image and reduces 
** the image size such that the footer is visible.
*/
.homePageImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%
}

#aboutPhoto {
	float: left;
	margin: 20px;
}

#about {
	margin: 10px;
}

#cv {
	margin: 20px;
}

#testimonials {
	margin: 20px;
}

#samples {
	margin: 20px;
}

#sample {
	margin: 20px;
}
