#logo {
}

#page-content {
	margin: 0 auto;
	text-align: center;
	font: 12pt Verdana, Arial, Georgia, sans-serif;
}

nav {
	background-color: #628794;
	margin-top: 8px;
	padding-top: 1px;
	padding-bottom: 1px;
}

nav ul li {
	display: inline;
}

nav ul li a:link, nav ul li a:visited {
	font-size: 10pt;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	background-color: #628794;
	text-decoration: none;
	color: #ffffff;
}

nav ul li a:hover, nav ul li a:active {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 5px 5px 5px;
	background-color: #c6a648;
	color: #000000;
}
