
#testimonials_content_area {
	margin-bottom:  -2000px;
	padding-bottom: 2000px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: #ffffff;
}

#testimonials table {
        width: 100%;
        border-collapse: collapse;
}

#testimonials th, td {
        padding: 15px 15px 15px 15px;
        font-style: italic;
}
