
    <div id="left_side">
    <nav id="nav-v">
    <ul>
	<li><a id="sample1" href="/personal/pages/samples/sample_1.html">Sample 1</a></li>
	<li><a id="sample2" href="/personal/pages/samples/sample_2.html">Sample 2</a></li>
	<li><a id="sample3" href="/personal/pages/samples/sample_3.html">Sample 3</a></li>
	<li><a id="sample4" href="/personal/pages/samples/sample_4.html">Sample 4</a></li>
	<li><a id="sample5" href="/personal/pages/samples/sample_5.html">Sample 5</a></li>
    </ul>
    </nav>
    </div>
