
    <div id="left_side">
    <nav id="nav-v">
    <ul>
	<li><a id="sample_1" href="/jeremyclough/pages/samples/sample_1.html">sample 1</a></li>
	<li><a id="sample_2" href="/jeremyclough/pages/samples/sample_2.html">sample 2</a></li>
	<li><a id="sample_3" href="/jeremyclough/pages/samples/sample_3.html">sample 3</a></li>
	<li><a id="sample_4" href="/jeremyclough/pages/samples/sample_4.html">sample 4</a></li>
	<li><a id="sample_5" href="/jeremyclough/pages/samples/sample_5.html">sample 5</a></li>
	<li><a id="sample_6" href="/jeremyclough/pages/samples/sample_6.html">sample 6</a></li>
	<li><a id="sample_7" href="/jeremyclough/pages/samples/sample_7.html">sample 7</a></li>
	<li><a id="sample_8" href="/jeremyclough/pages/samples/sample_8.html">sample 8</a></li>
	<li><a id="sample_9" href="/jeremyclough/pages/samples/sample_9.html">sample 9</a></li>
	<li><a id="sample_10" href="/jeremyclough/pages/samples/sample_10.html">sample 10</a></li>
	<li><a id="sample_11" href="/jeremyclough/pages/samples/sample_11.html">sample 11</a></li>
	<li><a id="sample_12" href="/jeremyclough/pages/samples/sample_12.html">sample 12</a></li>
    </ul>
    </nav>
    </div>
