
    <div id="left_side">
    <nav id="nav-v">
    <ul>
	<li><a id="sample_1" href="/personal/pages/samples/sample_1.html">sample 1</a></li>
	<li><a id="sample_2" href="/personal/pages/samples/sample_2.html">sample 2</a></li>
	<li><a id="sample_3" href="/personal/pages/samples/sample_3.html">sample 3</a></li>
	<li><a id="sample_4" href="/personal/pages/samples/sample_4.html">sample 4</a></li>
	<li><a id="sample_5" href="/personal/pages/samples/sample_5.html">sample 5</a></li>
    </ul>
    </nav>
    </div>
