<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/jeremyclough/css/main.css">
		<link rel="stylesheet" type="text/css" href="/jeremyclough/css/typography.css">
		<link rel="stylesheet" type="text/css" href="/jeremyclough/css/layout.css">
	</head>
	<body>
		<header>
		<nav id="nav-h">
    			<ul>
        		<li><a href="/jeremyclough/index.html">home</a></li>
			<!--<li><a href="/jeremyclough/pages/about.html">about</a></li>-->
        		<li><a href="/jeremyclough/pages/cv.html">cv</a></li>
        		<li><a href="/jeremyclough/pages/testimonials.html">testimonials</a></li>
        		<li><a href="/jeremyclough/pages/samples.html">samples</a></li>
    			</ul>
		</nav>
		</header>

	       	{{ content }}

		<footer>
		<nav id="nav-h">		
    			<ul>
        		<li><a href="https://github.com/ripley57">github</a></li>
			<li><a href="https://www.linkedin.com/in/jeremy-clough-40a08415/">linkedin</a></li>
			</ul>
		</nav>
		</footer>
	</body>
</html>
