<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>

		<link rel="stylesheet" type="text/css" href="/personal/css/main.css">
		<link rel="stylesheet" type="text/css" href="/personal/css/layout.css">
		<link rel="stylesheet" type="text/css" href="/personal/css/sample.css">
		<link rel="stylesheet" type="text/css" href="/personal/css/typography.css">

		<script type="text/javascript" src="/personal/js/crypto-js.js"></script>
                <script type="text/javascript" src="/personal/js/aes.js"></script>
		<script type="text/javascript" src="/personal/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="/personal/js/personal.js"></script>
	</head>

	<body>
		<header>
		<nav id="nav-h">
    			<ul>
        		<li><a href="/personal/index.html">home</a></li>
	       		<li><a href="/personal/pages/about.html">about</a></li>
        		<li><a href="/personal/pages/cv.html">cv</a></li>
        		<li><a href="/personal/pages/testimonials.html">testimonials</a></li>
        		<li><a href="/personal/pages/samples.html">samples</a></li>
    			</ul>
		</nav>
		</header>

		{{ content }}

		<footer>
		<nav id="nav-h">		
    			<ul>
        		<li><a href="https://github.com/ripley57">github</a></li>
			<li><a href="https://www.linkedin.com/in/jeremy-clough-40a08415/">linkedin</a></li>
			</ul>
		</nav>
		</footer>
	</body>
</html>
