<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/personal/css/main.css">
	</head>

	<body>
		<header>
		<nav id="nav-h">
    			<ul>
        		<li><a href="/personal/index.html">home</a></li>
	       		<li><a href="/personal/pages/about.html">about</a></li>
        		<li><a href="/personal/pages/cv.html">cv</a></li>
        		<li><a href="/personal/pages/testimonials.html">testimonials</a></li>
        		<li><a href="/personal/pages/samples.html">samples</a></li>
    			</ul>
		</nav>
		</header>

		{{ content }}
		
		<footer>
		<nav id="nav-h">		
    			<ul>
        		<li><a href="mailto:clough.jeremy@gmail.com">email</a></li>
        		<li><a href="https://github.com/ripley57">github</a></li>
			<li><a href="https://www.linkedin.com/in/jeremy-clough-40a08415/">linkedin</a></li>
			</ul>
		</nav>
		</footer>
	</body>
</html>
